<div *ngIf="book" class="panel panel-default">
  <div class="panel-body">
    <fieldset>
      <label for="bookId">Id:</label>{{book?.id}}<br/>
      <label for="author">Author:</label> <input id="author" [(ngModel)]="book.author" /><br/>
      <label for="name">Name:</label> <input id="name" [(ngModel)]="book.name" /><br/>
      <label for="genre">Genre:</label> <input id="genre" [(ngModel)]="book.genre" /><br/>
      <label for="description">Description:</label> <textarea id="description" [(ngModel)]="book.description"></textarea><br/>
      <label for="price">Price:</label> <input id="price" [(ngModel)]="book.price" />
    </fieldset>
    <button *ngIf="book?.id" class="btn btn-primary btn-sm" (click)="update()">Save</button>
    <button *ngIf="!book?.id" class="btn btn-primary btn-sm" (click)="create()">Create</button>
  </div>
</div>