<div *ngIf="!items || items.length===0">
  Your cart is empty!
</div>

<div *ngIf="items?.length>0">
  <ul>
    <li *ngFor="let item of items">
      {{item.productName | titlecase}} - {{item.quantity}} x {{item.price | currency:'USD':true}}
       <button class="btn btn-primary btn-xs btn-danger" (click)="remove(item.productId)">X</button>
    </li>
  </ul>
  <div>
    <label>Total:</label> <strong> {{ getTotal() }}</strong>
  </div>
  <button class="btn btn-primary btn-sm btn-danger" (click)="clear()">Clear</button>
  <button class="btn btn-primary btn-sm btn-success" (click)="order()">Order</button>
</div>